{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}
    <h1>Gestion des animaux</h1>

    <table class="table table-striped">
        <tr>
            <th>Numero d'identification</th>
            <th>Nom</th>
            <th>Appartient</th>
            <th>Genre</th>
            <th>Espece</th>
            <th>Stérilisé</th>
            <th>Quarantaine</th>
            <th>Actions</th>
        </tr>
        {% for animal in animaux %}
        <tr>
            <td>{{ animal.numero_identification }}</td>
            <td>{{ animal.nom }}</td>
            <td>{{ animal.proprietaire}}</td>
            <td>{{ animal.genre}}</td>
            <td>{{ animal.sterilise}}</td>
            <td>{{ animal.quarantaine}}</td>
            <td>
                <!--Modifier et supprimer -->
                
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ path("app_animal_ajouter") }}">Ajouter un animal</a>

{% endblock %}
